* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  cursor: pointer;
  background-color: #171717;
  width: 100vw;
  font-family: HelveticaNeue, Helvetica Neue;
}

main {
  position: relative;
}

@media (min-width: 500px) {
  main {
    min-height: 100vh;
    padding-bottom: 100px;
  }
}

header {
  width: 100vw;
  margin: 0 auto;
}

.header-svg {
  padding: 8px 60px;
}

@media (min-width: 500px) {
  .header-svg {
    height: 50px;
  }
}

.keyboard-container {
  width: 90vw;
  max-width: 1261.2px;
  overflow: scroll;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 20px auto 0 auto;
}

@media (max-width: 600px) {
  .keyboard-large-svg {
    -webkit-animation-name: scrollOnLoad;
            animation-name: scrollOnLoad;
    -webkit-animation-duration: 2.4s;
            animation-duration: 2.4s;
  }
}

@-webkit-keyframes scrollOnLoad {
  0% {
    -webkit-transform: translate(0px, -91px);
            transform: translate(0px, -91px);
  }
  33% {
    -webkit-transform: translate(300px, -91px);
            transform: translate(300px, -91px);
  }
  66% {
    -webkit-transform: translate(-300px, -91px);
            transform: translate(-300px, -91px);
  }
  100% {
    -webkit-transform: translate(0px, -91px);
            transform: translate(0px, -91px);
  }
}

@keyframes scrollOnLoad {
  0% {
    -webkit-transform: translate(0px, -91px);
            transform: translate(0px, -91px);
  }
  33% {
    -webkit-transform: translate(300px, -91px);
            transform: translate(300px, -91px);
  }
  66% {
    -webkit-transform: translate(-300px, -91px);
            transform: translate(-300px, -91px);
  }
  100% {
    -webkit-transform: translate(0px, -91px);
            transform: translate(0px, -91px);
  }
}

.selectors-container {
  width: 90vw;
  margin: 0 auto;
}

@media (min-width: 900px) {
  .selectors-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.root-selector-container {
  width: 100%;
}

@media (min-width: 900px) {
  .root-selector-container {
    width: 45%;
  }
}

.root-selector-container .control-label {
  width: 100%;
  margin: 6px auto;
  font-family: HelveticaNeue, Helvetica Neue;
  font-size: 1.2em;
  font-weight: 400;
}

.root-selector {
  width: 100%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 4px 4px;
}

@media (min-width: 900px) {
  .root-selector {
    width: 100%;
    -ms-grid-columns: (minmax(50px, 50px))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(50px, 50px));
  }
}

.root-selector .root-select-button {
  height: 50px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  font-size: 20px;
  font-family: HelveticaNeue, Helvetica Neue;
  cursor: pointer;
}

.root-selector .root-select-button p {
  padding-bottom: 0px;
}

.checkbox-container {
  width: 90vw;
  margin: 0 auto;
  padding-top: 10px;
}

@media (min-width: 500px) {
  .checkbox-container {
    margin-top: 20px;
  }
}

.checkbox-container .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0 0 0;
}

@media (min-width: 500px) {
  .checkbox-container .checkbox {
    width: 45%;
    margin-left: auto;
  }
}

.checkbox-container .checkbox .checkbox-label {
  padding: 10px 8px 10px 0px;
  font-size: 1em;
}

.checkbox-container .checkbox .checkbox-input {
  display: block;
  height: 20px;
  width: 20px;
}

.dropdown-container {
  width: 100%;
}

@media (min-width: 900px) {
  .dropdown-container {
    width: 45%;
  }
}

.dropdown-container .dropdown {
  width: 100%;
  margin: 10px auto 0 auto;
  text-align: left;
}

@media (min-width: 900px) {
  .dropdown-container .dropdown {
    width: 100%;
  }
}

.dropdown-container .dropdown .dropdown-label {
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 1em;
}

.dropdown-container .dropdown .dropdown-input {
  height: 50px;
  width: 100%;
  font-size: 1em;
  padding: 5px;
}

.keyboard-key {
  width: 90vw;
  max-width: 1261.2px;
  margin: 4px auto 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.keyboard-key .key-LH,
.keyboard-key .key-RH {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.keyboard-key .key-LH span,
.keyboard-key .key-RH span {
  display: block;
  padding-right: 5px;
  font-size: 0.8em;
}

.keyboard-key .key-LH {
  padding-right: 10px;
}

footer {
  width: 100vw;
  padding: 20px 0;
  font-style: italic;
  text-align: center;
  font-size: 0.8em;
}

@media (min-width: 500px) {
  footer {
    position: absolute;
    bottom: 0;
  }
}
/*# sourceMappingURL=main.css.map */